.wrap {
  width: 25%;
  display: inline-block;
  padding: 5rem 2rem;
}

.wrap > p:first-of-type {
  font-weight: 750;
  color: #644dff;
}

.wrap > p:last-of-type {
  font-weight: 300;
  color: rgb(120, 117, 122);
  line-height: 1.25;
  margin-top: 0.125rem;
}

.img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
